.container
{
    height: 100vh;
    width: 100vw;
    background-color: rgba(1, 1, 34, 1);
    
    .add-task-section
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 30px;
        input {
            outline: none;
            border: none;
            width: 26rem;
            height: 2.8rem;
            border-radius: 25px;
            border: 1px solid rgba(87, 137, 255, 1);
            background-color: rgba(1, 1, 34, 1);
            color: rgba(247, 247, 248, 1);
            font-size: 16px;
            padding-left: 2rem;
            padding-right: 2rem;

        }
        input::placeholder
        {
            color: #b7b8b8;
        }
        .create-taskBtn
        {
            outline: none;
            border: none;
            background-color: rgba(13, 51, 161, 1);
            height: 2.8rem;
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: 16px;
            border-radius: 25px;
            color: white;
            cursor: pointer;
        }
        .create-taskBtn:hover{
            border: 1px solid white;
        }
    }
}